<a href="https://colab.research.google.com/github/olinyoder2534/NLP_practice/blob/main/spacy_NLTK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Spacy

In [1]:
import spacy
#object oriented

In [2]:
nlp = spacy.load("en_core_web_sm")

In [3]:
sentences = nlp("Mr. Jones like pancakes. Mr. Smith like waffles.")

In [4]:
for sentence in sentences.sents:
  print(sentence)

Mr. Jones like pancakes.
Mr. Smith like waffles.

In [5]:
for sentence in sentences.sents:
  for word in sentence:
    print(word)

Mr.
Jones
like
pancakes
.
Mr.
Smith
like
waffles
.

In [6]:
nlp1 = spacy.blank("en")

In [7]:
document = nlp1("Mr. Jones like pancakes. Mr. Smith like waffles. Mrs. Jones like french toast")

In [8]:
for token in document:
  print(token)

Mr.
Jones
like
pancakes
.
Mr.
Smith
like
waffles
.
Mrs.
Jones
like
french
toast

In [9]:
document[:]

Mr. Jones like pancakes. Mr. Smith like waffles. Mrs. Jones like french toast

In [10]:
document1 = nlp1("I'm going to go the Bob's Movie Theatre in K.C. tonight.")

for token in document1:
  print(token)

I
'm
going
to
go
the
Bob
's
Movie
Theatre
in
K.C.
tonight
.

In [11]:
#can spacy understand a wrong use of the word two?
document2 = nlp1("I bought to birds for two dollars each.")

first2 = document2[2]
print("Word: {} \nType: {},\nIsNum: {}".format(first2, type(first2), first2.like_num))

print("\n")

second2 = document2[5]
print("Word: {} \nType: {},\nIsNum: {}".format(second2, type(second2), second2.like_num))

Word: to
Type: <class 'spacy.tokens.token.Token'>,
IsNum: False


Word: two
Type: <class 'spacy.tokens.token.Token'>,
IsNum: True

In [12]:
with open("/content/students.txt") as f:
  text = f.readlines()

text

["St. Vincent St. Mary's high school, 12th grade students information\n",
 '==================================================\n',
 '\n',
 'Name\tbirth day   \temail\n',
 '-----\t------------\t------\n',
 'Bob\t5 June, 1882    virat@smith.com\n',
 'Lebron  12 April, 2001  lebron@james.org\n',
 'Serena  24 June, 1998   serena@williams.com \n',
 'Joe      1 May, 1997    joe@johnson.com\n',
 '\n',
 '\n',
 '\n']

In [13]:
text = ' '.join(text)
text

"St. Vincent St. Mary's high school, 12th grade students information\n ==================================================\n \n Name\tbirth day   \temail\n -----\t------------\t------\n Bob\t5 June, 1882    virat@smith.com\n Lebron  12 April, 2001  lebron@james.org\n Serena  24 June, 1998   serena@williams.com \n Joe      1 May, 1997    joe@johnson.com\n \n \n \n"

In [14]:
document3 = nlp1(text)

document3[:]

St. Vincent St. Mary's high school, 12th grade students information
 ==================================================

 Name	birth day   	email
 -----	------------	------
 Bob	5 June, 1882    virat@smith.com
 Lebron  12 April, 2001  lebron@james.org
 Serena  24 June, 1998   serena@williams.com
 Joe      1 May, 1997    joe@johnson.com

In [15]:
emails = []

for token in document3:
  if token.like_email:
    emails.append(token.text)

print(emails)

['virat@smith.com', 'lebron@james.org', 'serena@williams.com', 'joe@johnson.com']

In [16]:
from spacy.symbols import ORTH

nlp1.tokenizer.add_special_case("",
                                [{ORTH: ""},
                                 {ORTH: ""},])

In [21]:
text1='''
Look for data to help you address the question. Governments are good
sources because data from public research is often freely available. Good
places to start include http://www.data.gov/, and http://www.science.
gov/, and in the United Kingdom, http://data.gov.uk/.
Two of my favorite data sets are the General Social Survey at http://www3.norc.org/gss+website/,
and the European Social Survey at http://www.europeansocialsurvey.org/.
'''

In [22]:
document4 = nlp1(text1)

document4[:]

Look for data to help you address the question. Governments are good
sources because data from public research is often freely available. Good
places to start include http://www.data.gov/, and http://www.science.
gov/, and in the United Kingdom, http://data.gov.uk/.
Two of my favorite data sets are the General Social Survey at http://www3.norc.org/gss+website/,
and the European Social Survey at http://www.europeansocialsurvey.org/.

In [23]:
urls = []

for token in document4:
  if token.like_url:
    urls.append(token.text)

print(urls)

['http://www.data.gov/', 'http://www.science', 'http://data.gov.uk/.', 'http://www3.norc.org/gss+website/', 'http://www.europeansocialsurvey.org/.']

In [24]:
transactions = "Bob gave two $ to Peter and Dave gave 500 € to Steve"

In [25]:
document5 = nlp1(transactions)

document5[:]

Bob gave two $ to Peter and Dave gave 500 € to Steve

In [27]:
type(document5)

spacy.tokens.doc.Doc

In [31]:
loc = document5[:]
type(loc)

spacy.tokens.span.Span

In [35]:
#nums = token.like_num

amounts = []

for i, token in enumerate(loc):
    if token.is_currency:
        if i > 0 and loc[i-1].like_num:
            amounts.append(loc[i-1].text + token.text)
        if i < len(loc) - 1 and loc[i+1].like_num:
            amounts.append(token.text + loc[i+1].text)

print(amounts)

['two$', '500€']

In [26]:
amounts = []

for token in document5:
  if token.is_currency:
    amounts.append(token.text)

print(amounts)

['$', '€']

In [17]:
#firstlanguage - connect to API, has prebuilt NLP models

NLTK

In [18]:
import nltk
nltk.download('punkt')
#string based

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [19]:
from nltk.tokenize import sent_tokenize

sentences1 = "Mr. Jones like pancakes. Mr. Smith like waffles."

sent_tokenize(sentences1)

['Mr. Jones like pancakes.', 'Mr. Smith like waffles.']

In [20]:
from nltk.tokenize import word_tokenize

sentences1 = "Mr. Jones like pancakes. Mr. Smith like waffles."

word_tokenize(sentences1)

['Mr.',
 'Jones',
 'like',
 'pancakes',
 '.',
 'Mr.',
 'Smith',
 'like',
 'waffles',
 '.']